In [1]:
import pandas as pd
import math
from IPython.display import display

In [2]:
# importo i dati
def importCSV(path):
    return pd.read_csv(path, index_col = 0)
    
df = importCSV("testcsv.csv")
df

          Esercizio1  Esercizio2  Esercizio3
Studente
Marco              8           7           5
Simone             7           5           4
Davide             6           5           9

In [8]:
# assegno True nelle caselle in cui il voto dell'esercizio è >= di 6 e False altrimenti

def replaceValueTF(df):
    dfAux = df.copy()
    flag = True
    for column in dfAux:
        dfAux.loc[dfAux[column] < 6, column] = 0
        dfAux.loc[dfAux[column] >= 6, column] = 1  
    return dfAux

In [24]:
# stimo l'abilità degli studenti con tecnica naif
# l'abilità è calcolata tramite media ponderata, i valori usati sono i punteggi degli studenti presi negli esercizi ed 
# i pesi sono le difficoltà assegnate agli esercizi

def getDiff(n):
    lsDiff = pd.DataFrame(columns = df.columns , index = ["Difficulty"])
    print("Insersci la difficoltà per i seguenti item: \n")
    for columns in lsDiff:
        print(columns + ": ", end="")
        lsDiff.loc["Difficulty",columns] = int(input())
    return lsDiff

def estimateAbility(df,lsDiff):
    lsAb = pd.DataFrame(index = df.index , columns = ["Ability"])
    for index, row in df.iterrows():
        ability = (row*(lsDiff.loc["Difficulty"])).sum()/lsDiff.loc["Difficulty"].sum()
        lsAb.loc[index,"Ability"] = ability
    return lsAb       

def getDiscrim(n):
    lsDiscrim = pd.DataFrame(columns = df.columns , index = ["Discriminant"])
    print("Insersci i discriminanti per i seguenti item: \n")
    for columns in lsDiscrim:
        print(columns + ": ", end="")
        lsDiscrim.loc["Discriminant",columns] = int(input())
    return lsDiscrim

In [26]:
# scegliere PL per calcolare la probabilità che ogni studente risponda correttamete ad ogni item

def pl1(lsAb,lsDiff):
    dfProb = pd.DataFrame(columns=df.columns, index=df.index)
    for index, row in dfProb.iterrows():
        for columns in dfProb:
            res = (math.exp(lsAb.loc[index,"Ability"] - lsDiff.loc["Difficulty",columns])) / (1 + math.exp(lsAb.loc[index,"Ability"] - lsDiff.loc["Difficulty",columns]))
            dfProb.loc[index, columns] = str(round(res * 100 , 2)) + "%"
    return dfProb

def pl2(lsAb,lsDiff,lsDiscrim):
    pass

def pl3(lsAb,lsDiff,lsDiscrim, lsGuess):
    pass

while(True):
    pl = int(input("Scegliere il tipo di PL da utilizzare: "))
    print()
    if pl in range(1,4):
        numItems = len(df.columns)
        lsDiff = getDiff(numItems)
        lsAb = estimateAbility(df,lsDiff)
        if(pl == 1):
            dfProb = pl1(lsAb,lsDiff)
        else:
            lsDiscrim = getDiscrim(numItems)
            if(pl == 2):
                dfProb = pl2(lsAb,lsDiff,lsDiscrim)
            else:
                lsGuess = None
                dfProb = pl3(lsAb,lsDiff,lsDiscrim, lsGuess)
        break
    else:
        print("ERRORE: i tipi di PL sono solo 1,2 e 3")

if(pl == 1):
    display(lsDiff, lsAb, dfProb)
elif(pl == 2):
    display(lsDiff, lsAb, lsDiscrim, dfProb)
else:
    display(lsDiff, lsAb, lsGuess, dfProb)

Scegliere il tipo di PL da utilizzare: 1

Insersci la difficoltà per i seguenti item:

Esercizio1: 5
Esercizio2: 6
Esercizio3: 7

           Esercizio1 Esercizio2 Esercizio3
Difficulty          5          6          7

          Ability
Studente
Marco         6.5
Simone    5.16667
Davide    6.83333

         Esercizio1 Esercizio2 Esercizio3
Studente
Marco        81.76%     62.25%     37.75%
Simone       54.16%     30.29%     13.78%
Davide       86.22%     69.71%     45.84%